<launch>
  <node pkg="own_node" name="nodo_a" type="node_A.py" clear_params="true" />
  <node pkg="own_node" name="nodo_b" type="node_B.py" clear_params="true" />
  <node pkg="own_node" name="nodo_c" type="node_C.py" clear_params="true" />
  <node pkg="own_node" name="nodo_d" type="node_D.py" clear_params="true" />
  <node pkg="own_node" name="nodo_e" type="node_E.py" clear_params="true" />
  <node pkg="own_node" name="nodo_f" type="node_F.py" clear_params="true" />
  <node pkg="own_node" name="nodo_g" type="node_G.py" clear_params="true" />
  <node pkg="own_node" name="nodo_h" type="node_H.py" output="screen" clear_params="true" />
  <!-- launch parcial segundo corte -->
  
</launch>
